* {
  font-family: 'Ubuntu', sans-serif;
}

/* background image */
.main-img-01 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../img/main-img-01.jpg');
  height: 550px;
  background-size: cover;
  background-attachment: fixed;
}

/* headings */
.heading h2 {
  font-size: 56px;
}

/* logo size */
.navbar-brand img {
  width: 75px;
}

/* navigation bar at the top */
.nav-links {
  margin: 0;
  display: flex;
  align-items: center;
}

.nav-links .nav-item {
  list-style-type: none;
}

/* styling the navbar links underline */
ul li > .underline {
  position: relative;
}

ul li > .underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #dc3545;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

ul li > .underline:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* styling the form */
.padding-h1 {
  padding: 150px 0;
}

form {
  padding-bottom: 350px;
}

form ::placeholder {
  font-size: 14px;
  font-style: italic;
}

form button {
  padding: 11px 0 !important;
}

/* invalid select validation style for js */
.invalidSelect {
  display: none;
}

.invalidSelect.visible {
  display: inline-block;
}

/* valid select validation style for js */
.validSelect {
  display: none;
}

.validSelect.visible {
  display: inline-block;
}

/* three main check button style properties */
.onDesignCheck {
  overflow: auto;
}

#onDesign.onDesignCheck:not(:last-child) {
  border-right: 1px solid #545454;
}

.onDesignCheck label {
  width: 100%;
  margin: auto;
  color: #ffffff;
}

.onDesignCheck input:checked + label {
  background-color: #dc3545;
  color: #ffffff;
}

/* scale effect for the cards */
.card.thumbnail {
  border-radius: 15px;
}

img.card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.thumbnail {
  transition: all 0.5s ease-in-out;
}

.thumbnail:hover {
  transform: scale(1.1) translate(0, -15px);
  transition: all 0.5s ease-in-out;
  scale: 10px;
}

/* selet option menu properties */
.select-box {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.selected {
  background-color: #ffffff;
  color: #343a40;
  border-radius: 0.25rem;
  position: relative;
  order: 0;
}

.selected.invalid {
  border: 1px solid #dc3545;
}

.selected.valid {
  border: 1px solid #28a745;
}

.selected::after {
  content: '';
  background: url('../img/chevron-down.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 10px;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -8px;
}

.select-box .options-container {
  background-color: #ffffff;
  color: #343a40;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  border-radius: 0.25rem;
  overflow: hidden;
  order: 1;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  margin-top: 20px;
}

.select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}

.select-box .option:hover {
  background-color: #dc3545;
  color: #ffffff;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}

/* load-more function apperience on mobile and tablet */
@media (max-width: 991px) {
  /* background properties */
  .main-img-01 {
    height: 300px;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
  }

  /* check buttons */
  #onDesign.onDesignCheck:not(:last-child) {
    border-bottom: 1px solid #545454;
    border-right: none;
  }

  /* headings */
  .padding-h1 {
    padding: 50px 0;
  }

  .heading h2 {
    font-size: 42px;
  }

  /* display property for the cards */
  .karta {
    display: none;
  }

  .karta:nth-of-type(1),
  .karta:nth-of-type(2),
  .karta:nth-of-type(3) {
    display: inline-block;
  }

  /* navbar style when active */
  .navbar-brand img {
    width: 55px;
  }

  .nav-links {
    background-color: #343a40;
    position: fixed;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    z-index: 111111111111;
    top: 0;
    left: 0;
    clip-path: circle(0 at 95% 5%);
    -webkit-clip-path: circle(0 at 95% 5%);
    transition: all 1s ease-out;
  }

  .nav-links.open {
    clip-path: circle(1400px at 100% -10%);
    -webkit-clip-path: circle(1400px at 100% -10%);
  }

  .nav-links {
    padding-top: 18px;
  }

  .nav-links li a {
    color: #ffffff !important;
  }

  .nav-links li {
    padding-bottom: 35px;
  }

  .hamclose {
    font-size: 42px;
  }

  nav svg {
    transform: rotate(-90deg);
  }
}
